{# base.html`` is the template all our other templates derive from. While
   Flask-Bootstrap ships with its own base, it is good form to create a custom
   one for our app, as it allows customizing some aspects.

   Deriving from bootstap/base.html gives us a basic page scaffoling.

   You can find additional information about template inheritance at

   http://jinja.pocoo.org/docs/templates/#template-inheritance
#}
{% extends "bootstrap/base.html" %}

{# We also set a default title, usually because we might forget to set one.
   In our sample app, we will most likely just opt not to change it #}
{% block title %}Sample App for Flask-Bootstrap{% endblock %}

{# While we are at it, we also enable fixes for legacy browsers. First we
   import the necessary macros: #}
{% import "bootstrap/fixes.html" as fixes %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}
{{super()}}

{# Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
   The sample application already contains the required static files. #}
{{fixes.ie8()}}
{% endblock %}

{# Adding our own CSS files is also done here. Check the documentation at
   http://pythonhosted.org/Flask-Bootstrap/basic-usage.html#available-blocks
   for an overview. #}
{% block styles %}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
    <link rel="stylesheet" href="{{url_for('static', filename='sample-app.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.css">
    <link rel="stylesheet" href="{{url_for('static', filename='feaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
{% endblock %}

{# Finally, round things out with navigation #}
{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
		    <div class="navbar-icon-container">
				<a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
			    <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i class="fa fa-search fa-lg white"></i></a>
			</div>
																						            <a class="navbar-brand" href="#">BootLeaf</a>
																						</div>
																											<div class="navbar-collapse collapse">
																															  <form class="navbar-form navbar-right" role="search">
																																			      <div class="form-group has-feedback">
																																									  <input id="searchbox" type="text" placeholder="Search" class="form-control">
																																													  <span id="searchicon" class="fa fa-search form-control-feedback"></span>
																																																      </div>
																																																			    </form>
																																																						  <ul class="nav navbar-nav">
																																																										      <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="about-btn"><i class="fa fa-question-circle white"></i>&nbsp;&nbsp;About</a></li>
																																																													      <li class="dropdown">
																																																																			<a id="toolsDrop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe white"></i>&nbsp;&nbsp;Tools <b class="caret"></b></a>
																																																																						      <ul class="dropdown-menu">
																																																																												  <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="full-extent-btn"><i class="fa fa-arrows-alt"></i>&nbsp;&nbsp;Zoom To Full Extent</a></li>
																																																																																  <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="legend-btn"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Show Legend</a></li>
																																																																																				  <li class="divider hidden-xs"></li>
																																																																																								  <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="login-btn"><i class="fa fa-user"></i>&nbsp;&nbsp;Login</a></li>
																																																																																												</ul>
																																																																																															    </li>
																																																																																																		    <li class="dropdown">
																																																																																																								<a class="dropdown-toggle" id="downloadDrop" href="#" role="button" data-toggle="dropdown"><i class="fa fa-cloud-download white"></i>&nbsp;&nbsp;Download <b class="caret"></b></a>
																																																																																																												<ul class="dropdown-menu">
																																																																																																																		  <li><a href="data/boroughs.geojson" download="boroughs.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Boroughs</a></li>
																																																																																																																						    <li><a href="data/subways.geojson" download="subways.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Subway Lines</a></li>
																																																																																																																											  <li><a href="data/DOITT_THEATER_01_13SEPT2010.geojson" download="theaters.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Theaters</a></li>
																																																																																																																															    <li><a href="data/DOITT_MUSEUM_01_13SEPT2010.geojson" download="museums.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Museums</a></li>
																																																																																																																																				</ul>
																																																																																																																																							    </li>
																																																																																																																																										    <li class="hidden-xs"><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="list-btn"><i class="fa fa-list white"></i>&nbsp;&nbsp;POI List</a></li>
																																																																																																																																													  </ul>
																																																																																																																																															  </div><!--/.navbar-collapse -->
																																																																																																																																																	</div>
																																																																																																																																																		    </div>

{% endblock %}
