{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
<div id="map" style="height: 80vh;"></div>

<script>

var map = L.map('map').setView([51.505, -0.09], 13)
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition((position) => {
        map.panTo(L.latLng(position.coords.latitude, position.coords.longitude))
    })
}
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: 'Open street map'
}).addTo(map)

axios.get('http://127.0.0.1:5000/geojson-features')
    .then(response => {
        console.log(response.data)
        L.geoJSON(response.data, {}).addTo(map);

    })
</script>


 {%- endblock %}
